# python virtualenv
venv/

# pycharm config
.idea/

# sources folder for images and xmls
sources/

# face prediction models
models/

# sublime project and workspace configs
*.sublime-project
*.sublime-workspace

# python cache files
*.pyc

# test folder
test/

# template and result xmls
xmls/